<div class="action-bar-container">
  <div class="action-bar-title-container">
    <span>Admin/{{ isBtnActive | titlecase }}</span>
  </div>

  <div class="flex">
    <button mat-flat-button class="standard-button button-background" (click)="btnPatient()">
      <span [class.active-btn]="isBtnActive === 'patients'">Patients</span>
    </button>

    <button mat-flat-button class="standard-button button-background" (click)="btnPersonnel()">
      <span [class.active-btn]="isBtnActive === 'personnel'">Personnel</span>
    </button>

    <button mat-flat-button class="standard-button button-background" (click)="btnDoctors()">
      <span [class.active-btn]="isBtnActive === 'doctors'">Doctors</span>
    </button>
  </div>

  <div class="action-bar-content">
    <mat-form-field class="action-bar-search" subscriptSizing="dynamic" appearance="outline">
      <mat-label><mat-icon class="action-bar-search-icon">search</mat-icon>&nbsp; Search</mat-label>
      <input matInput type="text" [ngModel]="search()" (ngModelChange)="updateSearch($event)"/>
      @if (displayClear()){
        <button matSuffix mat-icon-button (click)="clearButton()">
          <mat-icon class="standard-icon">close</mat-icon>
        </button>
      }
    </mat-form-field>

    <button mat-raised-button class="standard-button" color="primary">
      <span>Filter</span>
    </button>
  </div>
</div>
