  <div class="page-container" cdkScrollable>
    <div class="table-container table-default">
      <table mat-table multiTemplateDataRows [dataSource]="dataSource()" matSort class="lms-clickable">
        <!-- Full Name -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
          <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
        </ng-container>

        <!-- Specialty -->
        <ng-container matColumnDef="specialty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialty</th>
          <td mat-cell *matCellDef="let element">{{ element.specialty}}</td>
        </ng-container>

        <!-- Phone -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Availability -->
        <ng-container matColumnDef="availability">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability</th>
          <td mat-cell *matCellDef="let element">{{element.availability? 'Available' : 'Full'}}</td>
        </ng-container>
        
        <!-- Chevron -->
        <ng-container matColumnDef="chevron">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [@chevron]="((element == expandedPhysician)) ? 'expanded' : 'collapsed'">keyboard_arrow_down</mat-icon>
          </td>
        </ng-container>

        <!-- Expanded Detail Row -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
            class="standard-expansion-td">
            @if (element === expandedPhysician) {
              <div [@expansionPanelSlide]>
                <app-physician-details
                [userId]="element.userId"
                [fullName]="element.fullName"
                [specialty]="element.specialty"
                [email]="element.email"
                [phone]="element.phone"
                [availability]="element.availability">
                </app-physician-details>
            </div>
            }
          </td>
        </ng-container>

        <!-- Header -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

        <!-- Data Row -->
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumns"
          (click)="expandClick(element)"
          class="clickable table-row"
          [class.table-row-expanded]="expandedPhysician === element">
        </tr>

        <!-- Expansion Row -->
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail'];"
          class="table-expansion-row">
        </tr>
      </table>
    </div>

    <mat-paginator 
    showFirstLastButtons
    [pageSizeOptions]="[CC_UI.DEFAULT_PAGINATION_OPTION]"
    [length]="physicians().length" 
    [pageSize]="this.pageSize()" 
    [pageIndex]="this.pageIndex()"
    (page)="onPageChange($event)"
    >
  </mat-paginator>
  </div>
