<header class="cc-header">
  <div class="cc-header-left">
    <img
      src="assets/logos/CareConnectLogo.png"
      alt="CareConnect Logo"
      class="logo"
    />
  </div>

  <div class="cc-header-right">
    @if (user()) {
      <mat-icon>account_circle</mat-icon>
      <span class="user-name">{{ user()?.fullName }}</span>
      <button mat-button class="logout-btn" (click)="logout()">
        <span class="material-symbols-outlined white-text">logout</span>
      </button>
    }

    <button mat-button (click)="toggleDarkMode()">
      <span class="material-symbols-outlined" [ngClass]="isDarkMode() ? 'yellow-symbol' : 'white-text'">
        {{ isDarkMode() ? 'light_mode' : 'dark_mode' }}
      </span>
    </button>

  </div>
</header>
