.cc-header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .logo {
    height: 200px;
    width: auto;
  }
}

.cc-header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;

  mat-icon {
    font-size: 26px;
  }

  .user-name {
    font-weight: 500;
  }
}

.cc-header {
  background-color: #2e5b96;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  height: 48px;
}
