// @use "@angular/material" as mat;

// $my-primary: mat.define-palette(mat.$blue-palette, 600);
// $my-accent: mat.define-palette(mat.$teal-palette, A200);
// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $my-primary,
//       accent: $my-accent,
//       warn: $my-warn,
//     ),
//   )
// );

// @include mat.all-component-themes($my-theme);
