<div class="login-container">
  <h1>CareConnect Login</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      type="submit"
      [disabled]="loading || form.invalid"
    >
      {{ loading ? 'Signing in...' : 'Login' }}
    </button>

    <p *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </p>
  </form>
</div>

