<header class="cc-header">
  <div class="cc-header-left">
    <img
      src="assets/logos/CareConnectLogo.png"
      alt="CareConnect Logo"
      class="logo"
    />
  </div>

  <div class="cc-header-right">
    @if (user()) {
      <mat-icon>account_circle</mat-icon>
      <span class="user-name">{{ user()?.fullName }}</span>
      <span class="material-symbols-outlined white-text logout-btn clickable" (click)="logout()">logout</span>
    }

    <span class="material-symbols-outlined clickable" (click)="toggleDarkMode()" [ngClass]="isDarkMode() ? 'yellow-symbol' : 'white-text'">
      {{ isDarkMode() ? 'light_mode' : 'dark_mode' }}
    </span>
  </div>
</header>
